@import 'tailwindcss';

:root {
  --text-color: #323232;
  --text-color-secondary: #696969;
  --primary: #6f6ff9;
  --danger: #ff3a3a;
}

@theme inline {
  --color-text: var(--text-color);
  --color-text-secondary: var(--text-color-secondary);
  --color-primary: var(--primary);
  --color-danger: var(--danger);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #fff;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  scroll-behavior: smooth;
}
